* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

/* Navbar */
.navbar {
  text-align: center;
  padding: 22.4px 84px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar .navbar-logo {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  color: black;
}
.navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 20.8px;
  margin: 0 16px;
}
.navbar .navbar-extra a {
  color: black;
  font-size: 32px;
}

/* Home */
.home {
  margin-top: 128px;
}
.home .row {
  text-align: center;
  padding: 0 32px;
}
.home .row .col-1 embed {
  padding: 8px;
}
.home .row .col-2 h1 {
  font-size: 48px;
}
.home .row .col-2 p {
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: 24px;
  text-align: justify;
}
.home .row .col-2 .cta {
  padding: 12.8px;
  background-color: black;
  color: white;
  font-weight: bold;
}

/* About */
.about {
  margin-top: 80px;
  padding: 128px 0;
  background-color: black;
  color: white;
}
.about h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 16px;
}
.about p {
  text-align: center;
  font-size: 24px;
  margin: 0 16px;
}
.about .row {
  margin-top: 32px;
  text-align: center;
}
.about .row .col img {
  width: 288px;
  margin-bottom: 32px;
}
.about .row .col h2 {
  font-size: 32px;
}

/* Project */
.project {
  padding: 128px 0;
  background-color: black;
  color: white;
}
.project h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 16px;
}
.project .row {
  margin-top: 32px;
}
.project .row .col a img {
  margin-top: 16px;
  width: 672px;
}
.project .row .col {
  text-align: center;
}
.project .row .col .tag {
  margin-left: 40px;
}
.project .row .col .tag h2 {
  margin-bottom: 24px;
  margin-top: 8px;
}
.project .row .col .tag .btn-visit {
  text-decoration: none;
  font-size: 16px;
  color: black;
  background-color: white;
  padding: 8px 24px;
  font-weight: bold;
}

/* Contact */
.contact {
  padding: 128px 0;
}
.contact h1 {
  font-size: 48px;
  margin-bottom: 16px;
  text-align: center;
}
.contact .form {
  margin: 0 auto;
  width: 576px;
}
.contact .form div label {
  font-size: 24px;
}
.contact .form div input {
  width: 100%;
  padding: 8px 16px;
  margin-top: 8px;
}
.contact .form div textarea {
  width: 100%;
  padding: 8px 16px;
  margin-top: 8px;
}
.contact .form button {
  padding: 16px 80px;
  margin-top: 16px;
  background-color: black;
  color: white;
  font-size: 19.2px;
  font-weight: bold;
}

.footer {
  background-color: blac;
  color: white;
  padding: 24px 0;
  text-align: center;
}
